/**
 * 1. Colour Palettes.
 * ------------------
 */

// Primary colors.
$color-light-blue: #ccf2ff;
$color-white: #fff;

// Other colors.
$color-black: #353535;
$color-dark-grey: #8c8c8c;
$color-darker-grey: #595959;
$color-dark-blue: #005580;
$color-white: #fff;
$color-blue: #4668df;
$color-blue-alt: #3853b2;
$color-navy: #203657;
$color-green: #00b33c;

/**
* Breakpoint list
*
*/
$breakpoints-mobile: 320px;
$breakpoints-tablet: 768px;
$breakpoints-desktop: 1024px;
$breakpoints-desktop-wide: 1280px;
