@import "variables";

.search-results {
    margin: 0 150px;

    &__title {
        font-size: 20px;
        font-weight: 600;
    }

    .search-box {
        .single-result {
            text-shadow: 2px 2px 11px lightgray;

            h4 {
                font-size: 14px;
                text-shadow: 2px 2px 11px #80d4ff;
                color: $color-blue;
            }

            &__author {
                color: $color-green;
                text-shadow: 2px 2px 11px #80ffaa;

            }

            &__title {
                color: $color-blue;
                text-shadow: 2px 2px 11px #80d4ff;
            }
        }
    }
}

@media (max-width: $breakpoints-tablet) {
    .container {

        .form-section {
            .form-display__button_two {
                width: 100px !important;
            }

            .search-results {
                margin: 0 25px;
            }
        }
    }
}