@import "variables";

.search-results {
    margin: 0 150px;

    &__title {
        font-size: 20px;
        font-weight: 600;
    }

    .search-box {
        .single-result {
            h3 {
                font-size: 14px;
                // text-shadow: 2px 2px 11px $color-blue;
                color: $color-blue;
            }
        }
    }
}

@media (max-width: $breakpoints-tablet) {
    .container {

        .form-section {
            .form-display__button_two {
                width: 100px !important;
            }

            .search-results {
                margin: 0 25px;
            }
        }
    }
}